<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load static %}
{% load mathfilters %}
<table border="1px" align="center">
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th colspan={{max_game}}>Score</th>
        <th>total</th>
        <th>average</th>
    </tr>
    {%for user in score %}
    <tr>
        <td>{{date}}</td>
        <td>{{user.name}}</td>

        {% for score_data in user.score_list %}
        <td width="30px">
            <center><a href="/score/delete/{{date}}/{{score_data.id}}/">{{score_data.score}}</a></center>
        </td>
        {% endfor %}
        {% if user.game_count != max_game %}
        <td colspan={{max_game|sub:user.game_count}}>-</td>
        {% endif %}

        <td>{{user.total}}</td>
        <td>{{user.average|floatformat:-2}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>